:root {
    --color-primary: #51a7d8;
    --color-seconday: #a6a6ad;
    --color-tertiary: #4353e4;
    --color-white: #FFFFFF;
    --color-black: #000000;
    

    --front-text: "DM Sans", sans-serif;
    --title-text: "Tangerine";
}

