.me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(255 255 255 / 0.3), rgb(255 255 255 / 0.3)), url(/imagenes/me2.JPG);
    border-radius: 0.625rem;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 50rem;
    padding: 37.5rem;
    position: relative;
}

.my-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-black);
    font-family: var(--title-text);
    padding: 3.5625rem;
    position: absolute;
    left: 0;
    top: 0;
}

.my-surnames {
    display: flex;
    padding: 0.125rem;
    flex-direction: column;
    align-self: center;
}

.name {
    font-size: 11.25rem;
}

.surname {
    font-size: 5.625rem;
    display: flex;
    align-items: center;
}

.my-redes {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem;
}

.links-logo {
    display: inline-flex;
    width: 3.125rem;
    height: 3.125rem;
}