.proyects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.proyect-inf {
    display: flex;
    text-align: center;
    top: 0.75rem;
    font-size: 1.875rem;
    font-family: var(--front-text);
    color: var(--color-black);
    gap: 50px;
}

.proyect-title {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    padding-bottom: 1.5rem;
    font-size: 6.25rem;
    font-family: var(--title-text);
    color: var(--color-tertiary);
}

.proyect-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 28.125rem;
}

.info-web-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.9375rem;
}

.info-web-img {
    width: 17.5rem;
    height: 11.375rem;
    border-radius: 1rem;
    flex-shrink: 0;
}