.work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.work-title{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    padding-bottom: 1.5rem;
    font-size: 6.25rem;
    font-family: var(--title-text);
    color: var(--color-tertiary);
    line-height: 110%;
}

.work-desc{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    gap: 8rem;
}

.work-inf{
    display: flex;
    text-align: center;
    top: 0.75rem;
    font-size: 1.875rem;
    font-family: var(--front-text);
    color: var(--color-black);
    gap: 1.25rem;
}

.work-list-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
.work-img{
    margin: 0 auto;
    margin-inline-start: auto;
    border-radius:1.25rem;
    align-items: flex-start;
    align-self: stretch;
}

.cv-buton {
    width: 3.125rem;
    height: 3.125rem;

    & img {
        width: 3.125rem;
        height: 3.125rem;
    }
}
